#cover{
	background: #222 url(../images/torta.png) no-repeat center center fixed;
	height: 100%
	text-align: center;
	display: flex;   
	align-items: center; 
	background-size: cover;
	position: relative;
}

section#cover {}
#cover-caption{
	width: 100%;
	z-index: 1;
}
form:before{
	content: '';
	height: 100%;
	left: 0;
	position: absolute;  
	top: 0;
	width: 100%
	background-color: rgba(0,0,0,0.3);
	z-index: -1;
	border-radius: 10px;
}
