
/* .row{
  padding: 0!important;
  margin: 0!important;
} */

/* Start of CSS Content */
label {
	font-weight: bold;
	font-size: 16px;
}
  
#submit_button {
  background-color: #B22222;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 50px;
}
input, textarea {
  background-color: #D3D3D3;
  color: #2F4F4F;
  box-shadow: 5px 5px 2px 2px #696969;
}
h4{
	/* padding-top: 1em; */
	text-align: center;
}

input[type=text], input[type=password] {
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  /* display: inline-block; */
  border: 1px solid #ccc;
  box-sizing: border-box;
}
  
button {
  background-color: #4CAF50;
  color: white;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  cursor: pointer;
}
  
button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  /* padding: 10px 18px; */
  background-color: #f44336;
}

.container {
  /* padding: 16px; */
  
}

span.psw {
  float: right;
  /* padding-top: 16px; */

}