body {
	background: darkgray;
}
main{
	padding-top: 100px;
}
section{
	background-color: whitesmoke;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}
.navbar {		
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #555;
	padding-left: 50px;
	font-family: 'Merienda One', sans-serif;
	width: 300px;
}
.navbar .navbar-brand i {
	font-size: 20px;
	margin-right: 5px;
}
.search-box .input-group-addon {
    min-width: 35px;
    border: 1px;
    border-radius: 0px 20px 20px 0px;
    background: lightgrey;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 10px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
input#search{
	border-radius: 10px 20px 20px 10px!important;
}
nav{
	position: fixed!important;
	width: -webkit-fill-available;
	z-index: 1000;
}

.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.open > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
	color: #333;
}	
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .badge {
	color: #fff;
	background: #f44336;
	font-size: 11px;
	border-radius: 20px;
	position: absolute;
	min-width: 10px;
	padding: 4px 6px 0;
	min-height: 18px;
	top: 5px;
}
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}
.navbar-nav{
	padding-left: 50px;
}
.banner{
	background-image: url(../images/banner.PNG);
	background-size: cover;
	background-position: center;
	padding-right:2.5px
}
.maps{
	padding-left: 2.5px;
}
header.homepage{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/torta.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.card.index{
	border-radius: 0.75em;
	margin: 1em;
	text-align: center;
}

.dropdown-menu:not(.guest){
	left: -70%;
}

.dropdown-menu.guest{
	left: -75%;
}

.sitemap{
	background-color: #2F4F4F;
	padding: 5px;
}

@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
	.sitemap{
		background-color: #2F4F4F;
		padding: 5px;
		height: 50vh;
	}
}
@media (max-width: 1199px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
	}
	.input-group {
		width: 100%;
	}
}

footer{
	width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0%;
    background-color: bisque;
}  
body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span {
     display: block;
     float: none;
  }
  .cancelbtn {
	 width: 100%;
  }
}
@media screen and (max-width: 720px) {
	.banner{
	  height: 50vh;
	  }
	.maps{
	height: 50vh;
	}
	.navbar .navbar-brand {
		color: #555;
		padding-left: 15px;
		font-family: 'Merienda One', sans-serif;
		width: 250px;
	}
  }



  body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
  }
  
  html {
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  .column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 8px;
  }
  
  .about-section {
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
	padding-right: 10px;
	width: inherit;
	border-radius: 20px 20px 0 0;
  }
  
  .container {
	padding: 0 16px;
  }
  
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }