main{
	padding-top: 0px;
}

.card.head{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	background-color: darkred;
	border: transparent;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.card-title:not(.landing){
    padding: 0.5em;
    height: 100px;
    font-size: inherit;
    background-color: blanchedalmond;
    white-space: normal;
    word-break: break-word;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card-title.landing{
    font-family: fantasy;
    background-color: transparent;
}

.card-subtitle{
    color: lightgray;
}

#buy{
    border-radius: 20px;
    background-color: bisque;
    height: 60px;
    font-size: 20px;
}

h2{
    font-size: 5vh;
    text-align: center;
    margin: auto;
}